{
    "name": "<%= app_name %>",
    "version": "<%= app_version %>",
    "description": "<%= app_description %>",
    "main": "<%= main_file %>",
    "keywords": ["express-generator", "express"],
    "scripts": {
      "test": "npm test"
    },
    "author": "<%= author %>",
    "license": "<%= license %>",
    "dependencies": {
      "express": "latest"
    }
  }
  